<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a la personeria distrital de cartagena</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333;
      margin: 0 auto;
      padding: 20px;
    "
  >
    <table
      align="center"
      width="600"
      cellpadding="0"
      cellspacing="0"
      style="background-color: #f9f9f9; border-radius: 5px; padding: 20px"
    >
      <tr>
        <td>
          <h1 style="color: #2c3e50">Bienvenido al sistema PERTH</h1>
          <p>Estimado/a nuevo miembro,</p>
          <p>
            Nos complace darle la bienvenida a la personería. Hemos creado su
            cuenta y puede iniciar sesión con las siguientes credenciales:
          </p>
          <table
            width="100%"
            cellpadding="0"
            cellspacing="0"
            style="
              background-color: #ecf0f1;
              padding: 15px;
              border-radius: 5px;
              margin-bottom: 20px;
            "
          >
            <tr>
              <td>
                <p><strong>Usuario:</strong> nuevo_usuario</p>
                <p><strong>Contraseña:</strong> contrasena_usuario</p>
              </td>
            </tr>
          </table>
          <p>
            Por favor, cambie su contraseña después de iniciar sesión por
            primera vez.
          </p>
          <p style="text-align: center">
            <a
              href="https://www.youtube.com/watch?v=kU-dDUYfPdA"
              style="
                display: inline-block;
                padding: 10px 20px;
                background-color: #3498db;
                color: #ffffff;
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;
              "
              >Iniciar Sesión</a
            >
          </p>
          <p>
            Si tiene alguna pregunta o necesita ayuda, no dude en contactar a
            nuestro equipo de soporte.
          </p>
          <p>¡Le deseamos mucho éxito en su nueva posición!</p>
          <div style="margin-top: 20px; font-size: 0.9em; color: #7f8c8d">
            <p>
              Atentamente,<br />
              El Equipo de Recursos Humanos
            </p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
